# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries for Data Science.
- Create a table of Data Science tools.
- Write arithmetic expression examples.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
7. JavaScript
8. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. PyTorch
7. Keras
8. SciPy
9. Beautiful Soup
10. Scrapy
11. NLTK
12. Plotly
13. Theano

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Chris Duncan